@import "../../tools.scss";


.list__todo {
  width: $sizePercent/1.8;
  @include setMargin(0 auto);
  @include setPadding(0 50px 50px);
  @include borderR(0 0 50px 50px);

  @include setFlex(flex, column, center, center);

  background-color: $primaryColor;

  .wrapper__item {
    width: $sizePercent;
    @include setFlex(flex, row, flex-start, center);
    @include setMargin(0 0 30px);
    @include borderR(30px 0 0 30px);
    // cursor: pointer;

    // background-color: $totalColor;

    .item__check {
      width: 5%;
      height: $size - 15 + px;
      @include borderR(30px 0 0 30px);

      @include setFlex(flex, row, center, center);
      background-color: $secondaryColor;

      .input__change {
        @include position(relative);
      }
      
      .input__change:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        @include borderR($sizePercent/2);
        background-color: $totalColor;
        // @include bor(2px solid #000);
        @include position(absolute);
        top: $sizePercent/2;
        left: $sizePercent/2;
        transform: translate(-50%, -50%);
      }
      .input__change:checked::before {
        background-color: rgb(81, 255, 0);
      }
    }
    .item__task {
      width: 75%;
      height: $size - 15 + px;
      @include bor(0);
      @include setPadding(20px 20px);
      @include position(relative);
      cursor: pointer;

      @include setFlex(flex, row, space-between, center);
      background-color: $totalColor;

      .item__taskname {
        font-size: $textFontSize;
        white-space: pre-wrap;
      }

      .item__status {
        font-size: $textFontSize/1.3;
        white-space: pre-wrap;
        @include position(absolute);
        top: -22px;
        right: 0;
        color: $primaryColor;
        width: 100px;
        height: 22px;
        background-color: $totalColor;
        @include setFlex(flex, row, center, center);
        @include borderR(5px 5px 0 0);

        &.selected {
          background-color: $secondaryColor;
          color: $totalColor;
        }
        &.selectedItem {
          background-color: rgb(183, 215, 235);
        }
      }
      .editing {
        background-color: rgb(183, 215, 235);
      }

      &.selected {
        background-color: $secondaryColor;
        color: $totalColor;
      }
      &.selectedItem {
        background-color: rgb(183, 215, 235);
      }

      .edit__box {
        width: 100%;
        @include setFlex(flex, row, space-between, center);
        .edit__input {
          flex: 4;
          height: $size/2 + px;
          @include setMargin(0 10px 0 0);
          outline: none;
          @include borderR(15px);
          @include bor(0);
          @include setPadding(0 30px);
          font-size: $textFontSize * 1.2;
        }
        .edit__btn {
          flex: 1;
          height: $size/2 + px;
          cursor: pointer;
          @include borderR(15px);
          @include bor(0);
          font-size: $textFontSize * 1.2;
          font-weight: 600;
          background-color: rgb(0, 209, 0);
          color: $totalColor;
        }
      }
    }
    .editing {
      background-color: rgb(183, 215, 235);
    }
    .item__buttons {
      width: 20%;
      height: $size - 15 + px;
      @include bor(0);
      //   @include borderR(0 30px 30px 0);

      @include setFlex(flex, row, space-between, center);
      //   background-color: $totalColor;

      .item__btn {
        flex: 1;
        height: $sizePercent;
        font-size: $textFontSize * 1.5;
        border: 0;
        outline: none;
        color: $totalColor;
        cursor: pointer;
        background-color: $totalColor;
      }
      .delete {
        background-color: $secondaryColor3;
        color: $totalColor;

        &:hover {
          background-color: rgb(255, 0, 0);
        }
      }
      .transfer {
        background-color: $secondaryColor2;
        color: $totalColor;
        @include borderR(0 30px 30px 0);

        &:hover {
          background-color: rgb(240, 216, 0);
        }
      }

      .disable-hover:hover {
        background-color: lightgray;
      }
    }
  }
  .loading, .error {
    font-size: 1.4rem;
    color: $totalColor;
  }
}
